* {
    box-sizing: border-box;
}

header {
    background-color: gray;
    padding: 30px;
}

h1 {
    display: none;
}

.container {
    border: 2px dotted yellow;
    height: 33vh;
}

#box1 {
    height: 15vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
}

#box2 {
    height: 15vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
}

#box3 {
    height: 15vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
}
 
/*#box1, #box2, #box3 {
    height: 20vh;
    width: 20%;
    border: 2px dotted yellow;
    background-color: violet;
}
