* {
    box-sizing: border-box;
}

body {
    
}

header {
    background-color: gray;
    padding: 30px;
}

h1 {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    border: 2px dotted yellow;
    height: 60vh;
    padding: 0;
    margin-bottom: 2%;
    border-bottom: 2px dotted red;
}

#box1 {
        display: flex;
        height: 10vh;
        width: 25%;
        border: 2px dotted yellow;
        background-color: beige;
        margin-top: 2%;
        margin-left: 1%;
        padding: 35px;
}

#box2 {
    display: flex;
    height: 10vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#box3 {
    display: flex;
    height: 10vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#box4 {
    display: flex;
    height: 48vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#box5 {
    display: flex;
    height: 10vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#box6 {
    display: flex;
    height: 10vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#box7 {
    display: flex;
    height: 10vh;
    width: 25%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

.container-L {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid red;
    padding: none;
    justify-content: center;
}

.container-R {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    width: 50%;
    border: 2px solid green;
    padding: none;
    justify-content: center;
}

#sq-1 {
    display: flex;
    height: 10vh;
    width: 40%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#sq-2 {
    display: flex;
    height: 10vh;
    width: 40%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#sq-3 {
    display: flex;
    height: 10vh;
    width: 81%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#shape1 {
    display: flex;
    height: 10vh;
    width: 40%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-right: 1%;
    padding: 35px;
}

#shape2 {
    display: flex;
    height: 10vh;
    width: 40%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

#shape3 {
    display: flex;
    height: 10vh;
    width: 81%;
    border: 2px dotted yellow;
    background-color: beige;
    margin-top: 2%;
    margin-left: 1%;
    padding: 35px;
}

.foot-1, .foot-2, .foot-3, .foot-4 {
    display: flex;
    flex-direction: column;
    flex: 25%;
    width: 25%;
    padding: 20px;
    border: 2px dotted orange;
}

#top-sq {
    padding: 40px;
    border: solid 2px green;
    margin-bottom: 5%;
}

#bottom-1 {
    padding: 60px;
    border: dotted 2px purple;
}

#top-sq2 {
    padding: 40px;
    border: solid 2px green;
    margin-bottom: 5%;
}

#bottom-2 {
    padding: 60px;
    border: dotted 2px purple;
}
#top-sq3 {
    padding: 40px;
    border: solid 2px green;
    margin-bottom: 5%;
}

#bottom-3 {
    padding: 60px;
    border: dotted 2px purple;
}

#top-sq4 {
    padding: 40px;
    border: solid 2px green;
    margin-bottom: 5%;
}

#bottom-4 {
    padding: 60px;
    border: dotted 2px purple;
}
/*#box1, #box2, #box3 {
    height: 20vh;
    width: 20%;
    border: 2px dotted yellow;
    background-color: violet;
}
